@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

:root {
    --background: #ced6db;
    --foreground: #171717;
}

/* 🔹 Reset e definição da fonte global */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    font-family: 'Roboto Slab', serif !important; /* 🔥 Força a fonte em todo o site */
}

body {
    color: var(--foreground);
}
